//主色
$main: #cc00ff;
$sub: #fc00ad;
$BG: #ffff;

//字色
$mainfont: #0000;
$subfont: #fc00ad;
$lightfont: #ffff;
$tagfont: #cc00ff;
$remind: #22c3fd;

//header
$inputBG: #282828;
$logBtn1_BG: linear-gradient(to right, #6800d2 0%, #ec00de 53%, #fd0059 100%);
$logBtn2_BG: #0bc7ff;
$mq_textBG: #e3e3e3;
$mqBtn: #ffff;


//nav
$navBG: linear-gradient(to right, #6800d2 0%, #ec00de 53%, #fd0059 100%);
$navHov: linear-gradient(to top, #04defd 0%, #fc00f9 100%);

//按鈕