footer {
    width: 100%;
    height: auto;

    .center {
        width: 950px;
        height: 100%;
        margin: 0 auto 131px;

        ul {
            width: 1036px;
            height: auto;
            margin: 110px auto 56px;
            display: flex;
            justify-content: space-between;
    
            li {
                width: auto;
                height: 100%;
    
                p {
                    color: $footerFont;
                    font-size: 22px;
                    font-weight: bold;
                    margin-bottom: 29px;
    
                    &.title {
                        color: $subfont;
                        margin-bottom: 45px;
                    }
                    
    
                    &:last-child {
                        margin-bottom: 0;
                    }

                    &.page {

                        span {
                            display: inline;
                            position: relative;

                            a {
                                color: $mainfont;
                                text-decoration: none;
                            }

                            &:hover, &:active, &.active {
                                border-bottom: 2px solid $pageHovline;

                                &::before {
                                    content: " ";
                                    width: 41px;
                                    height: 41px;
                                    background: $pageHovBG;
                                    border-radius: 41px;
                                    position: absolute;
                                    top: -5px;
                                    left: -10px;
                                }

                                &::after {
                                    content: " ";
                                    width: 41px;
                                    height: 37px;
                                    position: absolute;
                                    top: -5px;
                                    left: -10px;
                                }
                            }
                        }

                    } 
                }
            }
        }
    
        button {
            width: 950px;
            height: 75px;
            background: $cs24hrBtnBg;
        }
    }
}