//header
header .lang::before {
    background: url(../img/lang_icon.png) no-repeat;
    background-size: contain;
}

header .mq_icon {
    background: url(../img/mqText_icon.png) no-repeat;
    background-size: contain;
}